* {
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #94C069;
}

.container {
  text-align: center;
}

input {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  background-color: #f7f022;
  color: rgb(12, 12, 12);
  border-radius: 5px;
  cursor: pointer;
}

#garden {
  margin-top: 20px;
  position: relative;
  width: 700px; 
  height: 700px; 
  background-color: #7F6237;
  display: grid; 
  grid-template-columns: repeat(5, 100px); 
  grid-template-rows: repeat(5, 100px); 
  gap: 5px; 
  padding: 70px; 
  box-sizing: border-box; 
}

.flower {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: transform 3s ease-in-out;
}

.petal {
  position: absolute;
  width: 20px; 
  height: 20px; 
  background-color: #f48fb1; 
  border-radius: 50%; 
}

.center {
  width: 20px; 
  height: 20px; 
  background-color: yellow; 
  border-radius: 50%; 
}

@keyframes transform {
  from {
    transform: scale(0.2); 
    opacity: 0;           
  }
  to {
    transform: scale(1);  
    opacity: 1;           
  }
}