* {
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #3f9b0b;
}

.container {
  text-align: center;
}

input, button {
  padding: 10px;
  font-size: 16px;
}



button {
  background-color: #f1e500;
  color: rgb(0, 0, 0);
  cursor: pointer;
}



#garden {
  margin-top: 20px;
  position: relative;
  width: 700px;
  height: 700px;
  background-color: #836539;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 5px;
  padding: 70px;
}

.flower {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: bloom 3s ease-in-out forwards;
}

.petal, .flower-center {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.petal {
  background-color: #f48fb1;
  transform-origin: 50% 50%;
}

.flower-center {
  background-color: yellow;
}

@keyframes bloom {
  0% {
    transform: scale(0.2);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
